
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Top Category Index</title>
</head>
<body>
    Top Category Index
</body>
</html>
