
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Child Category Index</title>
</head>
<body>
    Child Category Index
</body>
</html>
