
@{
    ViewBag.Title = "用户选择";
}
@using EZNEW.Framework.Serialize;
@using EZNEW.ViewModel.Sys.Filter;

<div id="page-body">
    <div class="layui-tab layui-tab-card content-panel pd-0 mg-0" lay-filter="data_tab">
        <ul class="layui-tab-title content-panel-head">
            <li class="layui-this">数据列表</li>
            <li>已选数据</li>
        </ul>
        <div class="layui-tab-content content-panel-body pd-0">
            <div class="layui-tab-item content-panel layui-show">
                <div class="content-panel-head">
                    <div class="layui-row pd-0 mg-0">
                        <div class="column layui-form lis_search pd-0 pdb-10">
                            <div class="list_search_inputgroup">
                                <label class="layui-form-label">姓名</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="search_username" id="search_username"
                                           placeholder="登录名/姓名" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="list_search_inputgroup mgl-5">
                                <button type="button" class="layui-btn layui-btn-sm" id="search_btn">
                                    <i class="icon-search"></i>
                                    搜索
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-panel-body">
                    <table id="data_list" lay-filter="data_list"></table>
                </div>
                <div class="content-panel-foot pd-5 default_shadow_up h-38" id="data_pager"></div>
            </div>
            <div class="layui-tab-item content-panel">
                <div class="content-panel-body">
                    <table id="select_list" lay-filter="select_list"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="page-foot" class="hidev">
    <div class="page-foot-btngroup">
        <button type="button" class="layui-btn layui-btn-gsuccess" onclick="SelectData()">
            <i class="icon-save"></i>
            确定
        </button>
        <button type="button" class="layui-btn layui-btn-primary" onclick="ClosePage()">
            <i class="icon-remove"></i>
            关闭
        </button>
    </div>
</div>
@section Scripts{
    <environment>
        <script type="text/javascript" src="~/script/page/multselect.js"></script>
    </environment>
    <script type="text/javascript">
        var cols = [[
            { field: 'RealName', title: '姓名', width: 130, fixed: 'left' }
            , { field: 'UserName', title: '登陆名', width: 150 }
            , { field: 'Mobile', title: '手机', width: 120 }
            , { field: 'Email', title: '邮箱', minWidth: 150 }
        ]];

        $(function () {
            InitMultSelect({
                objectTag: "AdminUser",
                dataTable: {
                    dataUrl: '@Url.Action("SearchAdminUser", "Sys")',
                    where: function () {
                        var nameKey = $.trim($("#search_username").val());
                        //var contactKey = $.trim($("#search_contact").val());
                        var data = { NameMateKey: nameKey };
                        return data;
                    },
                    cols: cols,
                }
            });
        });
    </script>
}
