
@{
    ViewData["Title"] = "您没有权限访问当前功能";
}

<div style="text-align:center;width:100%;height:100%;vertical-align:middle">
    <h1>您没有权限访问当前功能</h1>
    <div style="font-size:20px; margin-top:10px"><a style="color: #1E9FFF" href="@Url.Action("Login","Account")">返回登录页面</a></div>
</div>


